body{
    display: flex;
    justify-content: center;
    background-color: rgb(192, 192, 115);
}


.calculator {
    display: flex;
    background-color: rgb(172, 163, 163);
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
}

.display{
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight:400;
    height: 35px;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calcBody{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-grow: 1;
    justify-content:space-between;
}

button{
    font-size: 20px;
    background-color: white;
    padding: 15px;
    border: none;
}


button:hover {background-color: #b3b4b3}

button:active {
  background-color: #a3a8a6;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

